
img{
	width: 50%;
}
h1{
    font-size: 32px;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 700;
}
h2{
	font-size: 24px;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 500;
}
h3{
	font-size: 18px;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 400;

}

label{
	font-size: 16px;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 400;
}

p{
    font-size: 14px;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 400;
}


